*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row-items a{
    text-decoration: none;
}
/* -------- Header Start------------ */
.header{
    height: 80px;
    background-color: #16A085 ;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 40px;
}
.header-11{
    color: white;
}
.header a{
    text-decoration: none;
}
.header__search {
    height: 50px;
    padding: 0;
}

.header__user{
    display: flex;
}


/* -------- Header End------------ */


/* -------- Nav Start------------ */

ul{
    list-style-type: none;
}
#main-menu .key{
    background-color: #16A085;
    color: white;
}
nav{
    background-color: #F4D03F;
}
nav #main-menu .subnav {
  margin-bottom: -24px;
}
nav #main-menu li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px 20px;
    font-size: 20px;
}
#main-menu {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    position: relative;
}
nav #main-menu li:hover .subnav {
    display: block;
    padding-left: 0;
}
nav #main-menu > li:hover > a,
nav #main-menu .subnav li:hover a{
    background-color: #16A085;
    color: white;
    transition: all 0.5s;
}
#main-menu .subnav{ 
    display: none;
    position: absolute;
    z-index: 600;
}
#main-menu .subnav li {
    background-color: #F4D03F;
    padding-left: 21px;
}

.toggle{
    display: none;
    background-color: #F4D03F;
    color: black;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.arrow-down{
    font-size: 14px ;
    
}
@media screen and (max-width: 678px) {
  #main-menu{
    flex-direction: column;
    text-align: left;
  }
  .toggle{
    display: block;
  }
  nav {
    display: none;
  }

}



.containerr{
    margin-top: 100px;
  }
  .containerr .main-banner p,a,span,ul li{
    font-size: 20px;
  }
  .main-banner h1{
    font-size: 25px;
  }
  .lien_he {
    background-color: rgb(255, 255, 255) !important;
    height: max-content !important;
    margin-top: -90px;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
    color: black !important;
  }
  
  .lien_he legend {
    font-size: 40px;
    font-weight: bold;
    color: #F4D03F;
    margin: 20px 0;
  }
  
  .lien_he_content {
    display: flex;
    justify-content: center;
    margin: 20px;
  
  }
  
  .lien_he input,
  b {
    display: block;
  }
  
  .lien_he form i {
    font-size: 25px;
    margin-right: 10px;
  }
  
  .lien_he form {
    text-align: start;
    margin: 0 20px;
  }
  
  .form_lienhe {
    width: 90%;
    text-align: center !important;
  }
  
  .form_lienhe b {
    font-size: 30px;
  }
  
  .form_lienhe input,
  textarea {
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: rgb(230, 230, 230);
    padding: 0 20px;
  }
  
  #bnt-submit {
    width: 90px;
    padding: 10px !important;
    margin: 0 auto;
    border: none;
    color: aliceblue;
    background-color: #F4D03F;
  }
  .lien_he .lien_he_content span{
    font-size: 15px;
  }


footer {
    background-color: #16A085;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* -------- Footer End------------ */


/* -------- Reponsive End------------ */
@media only screen and (max-width: 1200px) {
    .header__search{
        padding: 10px 0;
    }
    .header{
        padding: 0 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .header__search{
        padding: 10px 0;
        width: 100px;
    }
}
@media only screen and (max-width: 1000px){
    .img-logo{
        padding: 10px 5px;
        width: 150px;
    }
    .header__search{
        width: 300px;
    }
    .header__user > span {
        display: none;
    }
    .header__user{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 826px){
    .img-container img{
        height: 70px;
    }
    nav #main-menu li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 676px){
    .subnav{
        bottom: -60%;
        right: 0;
    }
    .img-container img{
        height: 50px;
    }
}

@media only screen and (max-width: 578px){
    .me-2{
        width: 200px;
    }
    .img-logo{
        width: 100px;
    }
    .header .icon {
        width: 20%;
    }
    .header__user{
       width: 20%;
       font-size: 14px;
    }
    .header__search{
        width: 50%;
    }
}

@media only screen and (max-width: 438px){
     .img-logo{
       padding: auto 0;
    }
    .img-container img{
        height: 40px;

    }
    .img-container img{
        height: 40px;
    }
}
@media only screen and (max-width: 320px){

}


/* -------- Reponsivve End------------ */