/*********** GLOBAL ***********/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

.wrap {
    margin: auto 75px;
}

.title__color {
    color: #D2B89C;
}

.price__color {
    color: #FD475A;
}

/*********** HEADER ***********/

.header{
    height: 80px;
    background-color: #16A085 ;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 40px;
}
.header-11{
    color: white;
}
.header a{
    text-decoration: none;
}
.header__search {
    height: 50px;
    padding: 0;
}

.header__user{
    display: flex;
}
/*********** MAIN ***********/
.menu * {
    color: #777979;
}

.menu>span {
    color: #D2B89C;
}

.choose__product>div>div>div:nth-child(2) {
    background-color: #F4D03F;
}

.choose__product__version .version {
    border: 1px solid lightgray;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.choose__product__version .version:hover {
    border: 1px solid #D2B89C;
}

/* OFFER */
.product__offer {
    border: 1px solid #FD475A;
}

.product__offer li {
    color: #FD475A;
}

#buyNow {
    border: 2px solid #F4D03F;
    background-color: white;
}

#buyNow * {
    color: #F4D03F;
    transition: 0.8s;
}

#buyNow:hover {
    background-color: #F4D03F;
}

#buyNow:hover * {
    color: white;
}

#installment {
    border: 2px solid #FD475A;
    background-color: white;
}

#installment * {
    color: #FD475A;
    transition: 0.8s;
}

#installment:hover {
    background-color: #FD475A;
}

#installment:hover * {
    color: white;
}

#addCart {
    border: 2px solid #FF990E;
    background-color: white;
}

#addCart * {
    color: #FF990E;
    transition: 0.8s;
}

#addCart:hover {
    background-color: #FF990E;
}

#addCart:hover * {
    color: white;
}

.accordion-button {
    background-color: white !important;
    color: black !important;
}

.accordion-button:focus {
    border: none !important;
}

/*********** FOOTER ***********/
footer {
    background-color: #16A085;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    .header__search{
        padding: 10px 0;
    }
    .header{
        padding: 0 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .header__search{
        padding: 10px 0;
        width: 100px;
    }
}
@media only screen and (max-width: 1000px){
    .img-logo{
        padding: 10px 5px;
        width: 150px;
    }
    .header__search{
        width: 300px;
    }
    .header__user > span {
        display: none;
    }
    .header__user{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 826px){
    .img-container img{
        height: 70px;
    }
    nav #main-menu li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 676px){
    .subnav{
        bottom: -60%;
        right: 0;
    }
    .img-container img{
        height: 50px;
    }
}

@media only screen and (max-width: 578px){
    .me-2{
        width: 200px;
    }
    .img-logo{
        width: 100px;
    }
    .header .icon {
        width: 20%;
    }
    .header__user{
       width: 20%;
       font-size: 14px;
    }
    .header__search{
        width: 50%;
    }
}

@media only screen and (max-width: 438px){
     .img-logo{
       padding: auto 0;
    }
    .img-container img{
        height: 40px;

    }
    .img-container img{
        height: 40px;
    }
}
@media (max-width: 575.98px) {
    .wrap {
        margin: auto 0;
    }

    .header__user>* {
        display: block;
    }

    .header__user__line {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .wrap {
        margin: auto 0;
    }
}

@media (max-width: 991.98px) {
    .wrap {
        margin: auto 10px;
    }

    .content__body__form {
        width: 100%;
    }

    .header__user>* {
        display: block;
    }

    .header__user__line {
        display: none;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}